/***************** COLORS ***************** */
:root{
    --bg-color-light_gray: #e9ecef;
    --bg-color-gray: rgb(156, 155, 155);
    --bg-color-aside_blue: #051E34;
    --bg-color-my_primary-darker: #0f49a0;
    --bg-color-my_primary-darkest: #1e4278;
    --bg-color-my_progress: yellow;
}



.my_bg-gray{
    background-color: var(--bg-color-light_gray);
}

.my_bg-progress{
    background-color: var(--bg-color-my_progress);
}

.my_bg-primary-darker{
    background-color: var(--bg-color-my_primary-darker);
}
/***************** COLORS ***************** */


/***************** HOVER ***************** */
#section-top .badge:hover{
    cursor: pointer;
    background-color:  var(--bg-color-my_primary-darkest);
}

aside a:hover{
    background-color: var(--bg-color-gray);
}

#offcanvas-btn:hover{
    background-color: white;
    color: var(--bg-color-my_primary-darker);
}