/***************** COLORS ***************** */
:root{
    --bg-color-light_gray: #e9ecef;
    --bg-color-aside_blue: #051E34;
    --bg-color-my_primary-darker: #0f49a0;
}



.my_bg-gray{
    background-color: var(--bg-color-light_gray);
}

.my_bg-primary-darker{
    background-color: var(--bg-color-my_primary-darker);
}
/***************** COLORS ***************** */



/***************** TEXT ***************** */


/***************** TEXT ***************** */

