/**************** HEADER *****************/
 header #logo{
    min-width: 90px;
    width: 100%;
 }

 header #logo-small{
    min-width: 50px;
    width: 100%;
 }

 #search-bar:focus{
    background-color: var(--bg-color-light_gray);
 }
/**************** HEADER *****************/


/**************** MAIN *****************/
/**************** ASIDE *****************/

/**************** ASIDE *****************/


/**************** SECTION-TOP *****************/

/**************** SECTION-TOP *****************/


/**************** SECTION-BOT *****************/

/**************** SECTION-BOT *****************/
/**************** MAIN *****************/